<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Vendors - Gateway</title>
    <script src="~/Scripts/jquery-1.9.1.js"></script>

    <link href="/Resources/assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.popup.css" rel="stylesheet" />

    <link href="~/Resources/css/Site_New.css" rel="stylesheet" />
    <link href="~/Resources/css/Mobile.css" rel="stylesheet" />
</head>
<body>
    <div class="bodycontent">
        @RenderBody()
    </div>

    <script src="/Resources/assets/vendors/popper.js/dist/umd/popper.min.js" type="text/javascript"></script>
    <script src="/Resources/assets/vendors/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        function intNumberParse(strId) {
            var n = $('#' + strId).val().replace(/[ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz!#$&%^*+?^${}()|[\]\\;:,\\.'"<>]/g, '');
            if (n.length > 0) {
                $('#' + strId).val(n.toLocaleString());
            } else {
                $('#' + strId).val('0');
            }
        }
        function floatNumberParse(strId) {
            var n = $('#' + strId).val().replace(/[ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz!#$&%^*+?^${}()|[\]\\;:\\.'`"<>]/g, '');
            if (n.replace(',', '').length > 0) {
                $('#' + strId).val(n.toLocaleString());
            } else {
                $('#' + strId).val('0');
            }
        }
    </script>
    <script src="~/Scripts/Commond.js"></script>
</body>
</html>
