<footer class="container">
    <hr />
    <div class=" wp_footer">
        <div class="col-md-12" style="padding:0px">
            <span id="f_header"></span>
            <ul style="padding-left: 15px;">
                <li id="v_built" style="display:none"><div style="width:100px;display: inline-block;">Built by:</div> <span id="f_built">Trade Marketing</span></li>
                <li id="v_approve"><div style="width:100px;display: inline-block;">Approved by:</div> <span id="f_approve">Giám đốc Cung ứng</span></li>
                <li id="v_view"><div style="width:100px;display: inline-block;">Viewed by:</div> <span id="f_view">Thu mua - Marketing - Kinh doanh</span></li>
                <li id="v_review"><div style="width:100px;display: inline-block;">Reviewed by:</div> <span id="f_review">P. Nghiên cứu & Phát triển Sản phẩm</span></li>
                <li id="v_dev"><div style="width:100px;display: inline-block;">Developed by:</div> <span id="f_dev">CIO - Chief Intelligence Officer</span></li>
            </ul>
        </div>
    </div>
</footer>