@using MP_VendorTool.Models.Order
@using Newtonsoft.Json;

<input id="ShowMixMatch" type="hidden" data-toggle="modal" data-target="#MixMatch_modal" />
<div class="modal" id="MixMatch_modal" tabindex="-1" role="dialog" aria-labelledby="shift_detail_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 1080px; border-radius: 0; ">
        <div class="modal-content" style="border-radius:0;">
            <div class="modal-header" style="background:#c4c4c4; color:#4f4f4f;padding: 7px;">
                <h5 class="modal-title" id="shift_detail_modal_label" style=" font-size:18px;display: contents;">
                    Mix & Match
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style=" float: left; background: #fff; width: 1078px; border-radius: 0; ">

                <div class="AnHienMiMX">
                    <div class="col-md-6" id="MixMatch">
                        <div class="form-group row">
                            <label for="MaCTKM" class="col-sm-4 col-form-label">Mã CTKM</label>
                            <div class="col-sm-8">
                                <input type="text" disabled id="MaCTKM_MixMatch" name="MaCTKM_MixMatch" value="" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="MaCTKM" class="col-sm-4 col-form-label">Thời gian từ</label>
                            <div class="col-sm-8">
                                <input type="date" id="TuNgay_MixMatch" name="TuNgay_MixMatch" value="" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="MaCTKM" class="col-sm-4 col-form-label">Thời gian đến</label>
                            <div class="col-sm-8">
                                <input type="date" id="DenNgay_MixMatch" name="DenNgay_MixMatch" value="" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="CouponCode" class="col-sm-4 col-form-label">Coupon Code</label>
                            <div class="col-sm-8">
                                <select id="CouponCode_MixMatch" class="form-control selectpicker" data-live-search="true">
                                    <option value="">-- Chọn coupon code --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="PhamVi" class="col-sm-4 col-form-label">Phạm vi</label>
                            <div class="col-sm-8">
                                <select id="PhamVi_MixMatch" class="form-control selectpicker" data-live-search="true">
                                    <option value="">-- Chọn phạm vi --</option>
                                    @if (ViewBag.lstCusPriceGroup != null)
                                    {
                                        foreach (objCombox box in (List<objCombox>)ViewBag.lstCusPriceGroup)
                                        {
                                            <option value="@box.Code - @box.Name">@box.Code - @box.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="CouponCode" class="col-sm-4 col-form-label">No. of least exp. item</label>
                            <div class="col-sm-8">
                                <input id="NoOfLeastItem" class="form-control OrderValue">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Leastexpdisc" class="col-sm-4 col-form-label">Least exp. disc. %</label>
                            <div class="col-sm-8">
                                <input type="number"  max="100" value="" id="Leastexp" class="form-control OrderValue" style="margin-top:1px;">
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6" id="MixMatch">
                        <div class="form-group row">
                            <label for="CouponCode" class="col-sm-4 col-form-label">Same/Dif. M&M lines</label>
                            <div class="col-sm-8">
                                <select class="form-control valid" name="Same_DifLine" id="Same_DifLine" aria-invalid="false">
                                    <option value="DifferentLines">Different M&amp;M Lines</option>
                                    <option value="SameDiffLines">Same/Diff. M&amp;M Lines</option>
                                </select>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="MaCTKM" class="col-sm-4 col-form-label">Discount Type  ?? </label>
                            <div class="col-sm-8">
                                <select id="Mix_DiscountType" class="form-control valid" name="Mix_DiscountType" onchange="js_changeDiscountType()" aria-invalid="false">
                                    <option value="Deal_Price">Deal Price</option>
                                    <option value="Discount_Amount">Discount Amount</option>
                                    <option value="Least_Expensive">Least Expensive</option>
                                    <option value="Line_spec">Line spec.</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="CouponCode" class="col-sm-4 col-form-label">Deal Price Value</label>
                            <div class="col-sm-8">
                                <input id="DealPriceValue" class="form-control OrderValue" style="margin-top:1px;">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="CouponCode" class="col-sm-4 col-form-label">Discount % Value</label>
                            <div class="col-sm-8">
                                <input id="DiscValue" class="form-control OrderValue" style="margin-top:1px;">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="PhamVi" class="col-sm-4 col-form-label">Discount Amount Value</label>
                            <div class="col-sm-8">
                                <input id="DiscountAmoutValue" class="form-control OrderValue" style="margin-top:1px;">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="CouponCode" class="col-sm-4 col-form-label">No. of times applicable</label>
                            <div class="col-sm-8">
                                <input id="NoTimeApp" class="form-control" style="margin-top:1px;">
                            </div>
                        </div>
                    </div>
                    <div style="height: 10px; clear: both; "></div>
                    <div class="col-md-12">
                        <h4>  Mix & Match Line Groups</h4>
                        <table id="tbl_MixMatch" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-left">
                                        Line Group Code
                                    </th>
                                    <th class="text-left">
                                        Line Group Type
                                    </th>
                                    <th class="text-left">
                                        Value 1
                                    </th>
                                    <th class="text-left">
                                        Value 2
                                    </th>
                                    <th scope="col" style="width: 80px; max-width: 80px">Thêm</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                    <div style="height: 10px; clear: both; "></div>
                    <div class="col-md-12">
                        <h4 id="txtHead01"> D./ Line</h4>
                        <table class="table table-bordered" id="tbl_MixMaxLine">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 80px; max-width: 80px">Type</th>
                                    <th scope="col" style="width: 290px;">No.</th>
                                    <th scope="col" style="width: 140px; max-width: 140px ">No. of Items Needed</th>
                                    <th scope="col" style="width: 140px; max-width: 140px ">Deal Price/Disc.%</th>
                                    <th scope="col" style="width: 80px; max-width: 80px">Disc. Type</th>
                                    <th scope="col" style="width: 80px; max-width: 80px">Line Group</th>
                                    <th scope="col" style="width: 80px; max-width: 80px">Thêm</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div style=" clear:both; height:2px"></div>

                <div style="text-align: right; margin: 0px; margin-right: 15px; ">
                    <a href="#" onclick="fn_save_MinMax_update()" id="btn_Gui" class="btn btn-secondary Luulai"><i class="far fa-paper-plane"></i> Lưu lại</a>
                    <a href="#" data-dismiss="modal" id="btn_Gui" class="btn btn-secondary"><i class="fas fa-times"></i> Đóng </a>
                </div>
                <div style=" height:10px"></div>
            </div>
        </div>
    </div>
</div>

<style>
    .spname button.btn.dropdown-toggle.btn-default {
        padding: 2px !important;
    }
    .col-sm-8 .dropdown.bootstrap-select.form-control.bs3 {
        width: 288px;
    }
</style>


<script>
    $(function () {
        js_changeDiscountType();
    });
    function js_changeDiscountType() {
        var MixDiscountType = $('#Mix_DiscountType').val();
        switch (MixDiscountType) {
            case "Deal_Price":
                $("#DiscValue").prop('disabled', true);
                $("#DiscountAmoutValue").prop('disabled', true);
                $("#DealPriceValue").prop('disabled', false);
                $("#NoOfLeastItem").prop('disabled', true);
                $("#Leastexp").prop('disabled', true);

                $("#DealPriceValue").val('');
                $("#NoOfLeastItem").val('');
                //show_hide_column_MixMaxLine(4, false);
                //show_hide_column_MixMaxLine(5, true);
                break;
            case "Discount_Amount":
                $("#DealPriceValue").prop('disabled', true);
                $("#DiscValue").prop('disabled', true);
                $("#DiscountAmoutValue").prop('disabled', false);;
                $("#NoOfLeastItem").prop('disabled', true);
                $("#Leastexp").prop('disabled', true);

                $("#DealPriceValue").val('');
                $("#NoOfLeastItem").val('');
                $("#Leastexp").val('');
                //show_hide_column_MixMaxLine(4, false);
                //show_hide_column_MixMaxLine(5, true);
                break;
            case "Discount_Percent":
                $("#DealPriceValue").prop('disabled', true);
                $("#DiscValue").prop('disabled', false);
                $("#DiscountAmoutValue").prop('disabled', true);
                $("#NoOfLeastItem").prop('disabled', true);
                $("#Leastexp").prop('disabled', true);
                $("#DealPriceValue").val('');
                $("#NoOfLeastItem").val('');
                $("#Leastexp").val('');
                // show_hide_column_MixMaxLine(4, false);
                // show_hide_column_MixMaxLine(5, true);
                break;
            case "Least_Expensive":
                $("#DealPriceValue").prop('disabled', true);
                $("#DiscValue").prop('disabled', true);
                $("#DiscountAmoutValue").prop('disabled', true);
                $("#NoOfLeastItem").prop('disabled', false);
                $("#Leastexp").prop('disabled', false);
                $("#DealPriceValue").val('');

                // show_hide_column_MixMaxLine(4, false);
                // show_hide_column_MixMaxLine(5, true);
                break;
            case "Line_spec":
                $("#DealPriceValue").prop('disabled', true);
                $("#DiscValue").prop('disabled', true);
                $("#DiscountAmoutValue").prop('disabled', true);
                $("#NoOfLeastItem").prop('disabled', true);
                $("#Leastexp").prop('disabled', true);

                $("#NoOfLeastItem").val('');
                $("#DealPriceValue").val('');
                $("#Leastexp").val('');
                //$("#Leastexp").val('100');
                //show_hide_column_MixMaxLine(4, true);
                // show_hide_column_MixMaxLine(5, true);

                break;
            default:
                $("#DiscValue").prop('disabled', true);
                $("#DiscountAmoutValue").prop('disabled', true);
                $("#DealPriceValue").prop('disabled', false);
                $("#NoOfLeastItem").prop('disabled', true);
                $("#NoOfLeastItem").val('');
                $("#Leastexp").val('');
                $("#Leastexp").prop('disabled', true);
            // show_hide_column_MixMaxLine(4, false);
            //show_hide_column_MixMaxLine(5, true);
        }
    }
</script>


<script>
    SourceMixMatch = [];
    SourceMixMaxLineGroup = [];
    SourceMixMaxLine = [];
    $(function () {
      //  Get_Coupon_MixMatch();
    });

    function fn_save_MinMax_update() {
        debugger;
        if (
            $('#MaCTKM_MixMatch').val().length == 0 ||
           // $('#CouponCode_MixMatch').val().length == 0 ||
            $('#TuNgay_MixMatch').val().length == 0 ||
            $('#DenNgay_MixMatch').val().length == 0 ||
            $('#PhamVi_MixMatch').val().length == 0
        ) {
            alert('Vui lòng nhập các trường đầy đủ.');
            return;
        }

        GetDataCTKM_MixMatch();
        getTablePopupMixMatch();// Popup
        getTableDataMixMaxLine();//Line

        var obj = {};
        obj.SourceMixMatch = JSON.stringify(SourceMixMatch);
        obj.SourceMixMaxLine = JSON.stringify(SourceMixMaxLine);//Line
        obj.SourceMixMaxLineGroup = JSON.stringify(SourceMixMaxLineGroup);// Popup

        console.log(JSON.stringify(SourceMixMatch));
        console.log(JSON.stringify(SourceMixMaxLine));
        console.log(JSON.stringify(SourceMixMaxLineGroup));
        console.log(JSON.stringify(obj));


        if (SourceMixMatch.length > 0) {
            $.ajax({
                url: '/PushSale/Update_PushSales_MixMatch',
                type: 'POST',
                data: JSON.stringify(obj),
                enctype: 'multipart/form-data',
                contentType: 'application/json, charset=utf-8',
                success: function (data) {
                    if (data.RespId == 0) {
                        jAlert(data.RespMsg, 'Thông báo', (r) => {
                            location.reload();
                        });
                    } else {
                        jAlert(data.RespMsg, 'Thông báo');
                    }
                    js_Loading(false, 1);
                }
            });
        }
    }

    function GetDataCTKM_MixMatch() {
        var NhaCC = $('#VendorNo').val();
        var ArrNhaCC = NhaCC.split(' - ');

        var ID = $("input[name='ID']").val();

        var MaCTKM = $('#MaCTKM_MixMatch').val().trim();

        //var CouponCode = $('#CouponCode_MixMatch').val();
        //var ArrCouponCode = CouponCode.split(' - ');

        var TuNgay = $('#TuNgay_MixMatch').val();
        var DenNgay = $('#DenNgay_MixMatch').val();

        var PhamVi = $('#PhamVi_MixMatch').val();
        var ArrPhamVi = PhamVi.split(' - ');

        var NoOfLeastItem = $('#NoOfLeastItem').val();
        var Leastexp = $('#Leastexp').val();
        var Same_DifLine = $('#Same_DifLine').val();
        var Mix_DiscountType = $('#Mix_DiscountType').val();
        var DealPriceValue = $('#DealPriceValue').val();
        var DiscValue = $('#DiscValue').val();
        var DiscountAmoutValue = $('#DiscountAmoutValue').val();
        var NoTimeApp = $('#NoTimeApp').val();

        if (ID.length > 0 && NhaCC.length > 0 && MaCTKM.length > 0 && TuNgay.length > 0 && DenNgay.length > 0 && PhamVi.length > 0)// && CouponCode.length > 0
        {
            SourceMixMatch.push({
                "ID": ID,
                "MaNCC": ArrNhaCC[0],
                "TenNCC": ArrNhaCC[1],
                "MaCTKM": MaCTKM,
                "CouponCode": "",//ArrCouponCode[0],
                "CouponName": "",//ArrCouponCode[1],
                "FromDay": TuNgay,
                "ToDay": DenNgay,
                "PriceGroupCode": ArrPhamVi[0],
                "PriceGroupName": ArrPhamVi[1],

                "NoOfLeastItem": NoOfLeastItem,
                "Leastexp": Leastexp,
                "Same_DifLine": Same_DifLine,
                "Mix_DiscountType": Mix_DiscountType,
                "DealPriceValue": DealPriceValue,
                "DiscValue": DiscValue,
                "DiscountAmoutValue": DiscountAmoutValue,
                "NoTimeApp": NoTimeApp
            });
        }
    }

    function getTablePopupMixMatch() {
        SourceMixMaxLineGroup = [];
        var NhaCC = $('#VendorNo').val();
        var ArrNhaCC = NhaCC.split(' - ');
        var MaCTKM = $('#MaCTKM_MixMatch').val().trim();

        var MixDiscountType = $('#Mix_DiscountType').val();
        let trs = $("#tbl_MixMatch tbody tr");
        if (trs.length) {
            trs.each((index, tr) => {
                let LineGroupCode = String($('#' + tr.id + ' input[name="LineGroupCode"]').val()).trim();
                let lineGroupType = String($('#' + tr.id + ' select[name="LineGroupType"]').val()).trim();
                let value1 = String($('#' + tr.id + ' input[name="value1"]').val()).trim();
                let value2 = String($('#' + tr.id + ' input[name="value2"]').val()).trim();
                //NhaCC.length > 0 && MaCTKM.length > 0 &&
                if (LineGroupCode.length > 0) {
                    SourceMixMaxLineGroup.push({
                        "MaNCC": ArrNhaCC[0],
                        "TenNCC": ArrNhaCC[1],
                        "MaCTKM": MaCTKM,

                        "MixDiscountType": MixDiscountType,
                        "LineGroupCode": LineGroupCode,
                        "lineGroupType": lineGroupType,
                        "value1": value1,
                        "value2": value2
                    });
                }
            });
        }

        js_ReLoad_LineGroup();
        if (SourceMixMaxLineGroup.length == 1) {
            $("#tbl_MixMaxLine tbody").empty();
            js_addRowMixLine();
        }
        console.log(JSON.stringify({ SourceMixMaxLineGroup }));
    }

    function getTableDataMixMaxLine() {
        SourceMixMaxLine = [];
        let trs = $("#tbl_MixMaxLine tbody tr");
        if (trs.length) {
            trs.each((index, tr) => {
                var NhaCC = $('#VendorNo').val();
                var ArrNhaCC = NhaCC.split(' - ');
                var MaCTKM = $('#MaCTKM_MixMatch').val().trim();

                let Type = String($('#' + tr.id + ' select[name="type"]').val()).trim();
                let Product = String($('#' + tr.id + ' select[name="NoMixMatch"]').val()).trim();
                var ArrProduct = Product.split(' - ');
                let NoItemNeeded = String($('#' + tr.id + ' input[name="NoItemNeeded"]').val()).trim();
                let DealPriceDiscPercent = String($('#' + tr.id + ' input[name="Deal_Price_Disc_Percent"]').val()).trim();
                let DiscTypeMix = String($('#' + tr.id + ' select[name="DiscTypeMix"]').val()).trim();
                let LineGroup = String($('#' + tr.id + ' select[name="LineGroup"]').val()).trim();

                if (NhaCC.length > 0 && MaCTKM.length > 0 && Type.length > 0 && Product.length > 0 && LineGroup.length > 0) {
                    SourceMixMaxLine.push({
                        "MaNCC": ArrNhaCC[0],
                        "TenNCC": ArrNhaCC[1],
                        "MaCTKM": MaCTKM,

                        "Type": Type,
                        "ProductCode": ArrProduct[0],
                        "ProductName": ArrProduct[1],
                        "NoItemNeeded": NoItemNeeded,
                        "DealPriceDiscPercent": DealPriceDiscPercent,
                        "DiscType": DiscTypeMix,
                        "LineGroup": LineGroup
                    });
                }
            });
        }
    }

    function Get_Coupon_MixMatch() {
        $("#CouponCode_MixMatch").val('');
        $('#CouponCode_MixMatch').selectpicker().empty();
        option = document.createElement('option');
        option.text = '-- Chọn Coupon--';
        option.value = '';
        $('#CouponCode_MixMatch').selectpicker().append(option);

        $.ajax({
            url: '/PushSale/GetListNoTotalDisOffer',
            type: 'POST',
            contentType: 'application/json, charset=utf-8',
            success: function (data) {
                $.each(data, (index, value) => {
                    option = document.createElement('option');
                    option.text = value.Code + ' - ' + value.Name;
                    option.value = value.Code + ' - ' + value.Name;
                    $('#CouponCode_MixMatch').selectpicker().append(option);
                });
                $('#CouponCode_MixMatch').selectpicker('refresh');
            }
        });
    }

    function js_ReLoad_LineGroup() {
        $('#tbl_MixMaxLine select[name="LineGroup"]').empty();
        let trs = $("#tbl_MixMatch tbody tr");
        if (trs.length) {
            trs.each((index, tr) => {
                let Name = String($('#' + tr.id + ' input[name="LineGroupCode"]').val()).trim();
                $('#tbl_MixMaxLine select[name="LineGroup"]').append('<option value="' + Name + '">' + Name + '</option>');
            });
        }
    }
</script>