@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .wp_home {
        padding: 150px 0px;
        background-color: #f3f3f3;
    }

    body {
        background-color: #f3f3f3;
    }
</style>
@Html.Partial("~/Views/Shared/_header_home.cshtml")
@Html.Partial("~/Views/Shared/_sidebar_3.cshtml")
<div class="wp_home" style="text-align: center;">
    <img src="~/Image/home11.png" style="width:70%" />
</div>
<script type="text/javascript">
    $(function () {
        $('#txtHead').html("Vendors - Gateway");
    });
</script>
