@using System.Data;
@using ProductAllTool.Models.ManageSales;
<link href="~/Content/css/thickbox.css" rel="stylesheet" />
<script src="~/Scripts/thickbox.js"></script>
<table id="tbl_Item1" class="table table-bordered tb_detail" style="border:none !important">
    <thead>
        <tr>
            <th>
                Mã hàng
            </th>
            <th>
                Tên hàng
            </th>
            <th>
                Giá bán
            </th>
            <th>
                SL áp dụng
            </th>
            <th>
                % quà
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                var dt = Model as DataTable;
                if (dt.Rows.Count > 0)
                {
                    var i = 0;
                    foreach (DataRow item in dt.Rows)
                    {
                        <tr id="row_@i">
                            <td class="text-center" style="width:65px; max-width: 65px;  overflow: hidden;white-space: nowrap" id="masp_@i">
                                <span id="MaMuaDetial"></span>
                            </td>
                            <td class="text-left" style="width: 100px; max-width: 100px;  overflow: hidden;white-space: nowrap">
                                <span id="TenMuaDetail"></span>
                            </td>
                            <td class="text-right" style="width: 100px; max-width: 100px;  overflow: hidden;white-space: nowrap">
                                <span id="GiaMuaDetail"></span>
                            </td>
                            <td class="text-right" style="width: 100px; max-width: 100px;  overflow: hidden;white-space: nowrap">
                                <span id="SLMuaDetail"></span>
                            </td>
                            <td class="text-right" style="width: 100px; max-width: 100px;  overflow: hidden;white-space: nowrap">
                                <span id="PTQuaMuaDetail"></span>
                            </td>
                        </tr>
                        i++;
                    }
                }
            }
        }
    </tbody>
</table>
